RewriteEngine On
Options +FollowSymLinks
Options -Indexes
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule . index.php [L,QSA]

# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

<ifmodule mod_headers.c>
    #Header always edit Set-Cookie (.*) "$1; SameSite=Lax"
    Header always edit Set-Cookie (.*) "$1; SameSite=Strict"
</ifmodule> 

<IfModule mod_headers.c>
    Header always set Content-Security-Policy "frame-ancestors 'self'"
</IfModule>